@font-face { font-family: 'ap'; src: url('fonts/regular.otf') format('opentype'); }
@font-face { font-family: 'ap'; font-weight: bold; src: url('fonts/bold.otf') format('opentype'); }
@font-face { font-family: 'ap'; font-style: italic; src: url('fonts/italic.otf') format('opentype'); }
@font-face { font-family: 'ap'; font-weight: bold; font-style: italic; src: url('fonts/bolditalic.otf') format('opentype'); }

html {
    /* --pale: #fdfdfc; */
    --pale: white;
    --red: #a14a3f;
    --black: #1a0f00;
    --dim: #33330011;
    --lightgrey: #d2d2d2;
    --lightblue: #e7eff6;
    --blue: rgb(15, 52, 128);
}

body {
    width: 90%;
    margin: 3% auto;

    font-family: 'Arno Pro', 'ap', Garamond, Georgia, serif;
    font-size: 13pt;
    font-feature-settings: 'onum';
    color: var(--black);
    background: var(--pale);

    counter-reset: section;
}

/* main content */

.content {
    margin: 0 auto;
    font-size: 110%;
}

p,
blockquote p,
.content li {
    margin-bottom: 0;
    line-height: 1.3;
    text-align: justify;
}

p + p {
    margin-top: 0;
    text-indent: 1.3em;
}

strong { font-weight: 600; }

hr {
    width: 20em;
    margin: 1.3em auto;
    border: none;
    border-top: 1px solid var(--lightgrey);
}

/* links and footnote numbers */

a[href] {
    text-decoration: none;
    color: var(--red);
}
a[href]:hover {
    text-decoration: underline;
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;

    font-size: 0.7em;
    font-feature-settings: 'nnum';
}

.sc { /* small caps */
    text-transform: lowercase;
    font-variant: small-caps;
}

/* tables */

table {
    margin: 2em auto;
    line-height: 1.7;

    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    border-collapse: collapse; /* allows for internal borders */
}

thead { border-bottom: 1px solid var(--ctext); }
th { font-weight: normal; }
td, th { padding: 0 0.3em; }

/* epigraphs */

.epigraph {
    width: 80%;
    padding-left: 11%;
    margin-top: 2.5em;

    font-size: 1em;
    text-align: justify;
    font-feature-settings: 'swsh'; /* swashes */
}

.epigraph.short { text-align: right; }

.epigraph footer { /* i.e. the citation */
    margin-top: 0.6em;

    font-variant: small-caps;
    font-feature-settings: normal;
    text-align: right;
    text-transform: lowercase;
    letter-spacing: 1px;
}

.epigraph footer em { /* the source text in the citation */
    font-variant: normal;
    text-transform: none;
    letter-spacing: normal;
}

/* headings */

h2, h3 { text-align: center; }

h2 { /* main chapter titles, e.g. 'Consciousness' or 'Reason' */
    font-size: 1.9em;
    padding-top: 10px;
    margin-bottom: -0.34em;
    font-weight: 400;
    color: var(--red);
}

h3 { /* section titles, e.g. 'Sensuous Certainty' or 'Mastery and Servitude' */
    margin-top: 2em;
    margin-bottom: 5px;
    font-weight: 400;
    font-variant: small-caps;
    font-size: 1.3em;
    text-transform: lowercase;
}

h4:not(#author):not(.subtitle) { /* mini-section titles, e.g. 'Skepticism' or Pleasure and Necessity' */
    font-size: 1.12em;
    font-weight: normal;
    font-style: italic;
    margin: 2em 0 1em 0;
    counter-increment: subsection;
}

h4:not(#author):not(.subtitle)::before {
    content: counter(subsection);
    font-style: normal;
    margin-right: 0.4em;
}

.subtitle {
    margin: -0.25em 0 0.25em 0;
    text-align: center;
    font-style: italic;
    font-weight: normal;
}

img#title {
    display: block;
    margin: 30px auto 30px auto;
    width: 55%;
}

#author {
    margin: 0;

    font-variant: small-caps;
    font-weight: 400;
    font-size: 1.3em;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 0.1em;
    color: var(--black);
}

#pre-author { /* "Notes on Hegel's" */
    margin: 0;

    font-size: 1.1em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.1em;
}

#title-info { /* 'Last edited' info */
    text-align: center;
    font-style: italic;
    opacity: 0.8;
}

/* contents */

#contents {
    margin: 2em auto 4em auto;
    padding-left: 2.4rem;
    white-space: nowrap;

    counter-reset: toc;
}

#contents ol { padding-left: 0; }

#contents li {
    margin-top: 0;
    display: block;
    list-style-type: none;
}

/* separate sections */
#contents > li { margin-top: 1em; }

/* indent sub-sub-sections */
#contents li li li a { margin-left: 1em; }

/* numbering */
#contents > li::before {
    position: absolute;
    width: 2.4rem;
    transform: translate(-3.2rem);
    text-align: right;
    color: var(--lightgrey);
    content: counter(toc);
    counter-increment: toc;
}

#contents a { line-height: 1.375em; }

/* some pages are so huge that they have extra contents sub-sections
 * that are only visible when that page is displayed */
#contents .extra-contents {
    padding-left: 1em;
    font-size: 90%;
}

/* navigation */

#nav {
    margin-top: 2em;
    font-size: 1.05em;
    text-align: center;
}

#nav a {
    display: block;
    margin-bottom: 0.3em;
}

/* footnotes */

.footnotes hr { display: none; }

.footnotes li,
.footnotes p {
    font-size: 0.98em;
    margin: 0 0 0.3em 0;
}

.footnotes blockquote { margin: 0.5em 1em; }

.footnotes blockquote p {
    font-size: 0.9em;
    line-height: 1.1;
}

.footnotes a { color: var(--blue); }
.footnotes a.footnote-back { color: var(--lightgrey); }
.footnotes a:hover { color: var(--red); }

/* selected footnote */
.footnotes li:target { background: var(--dim); }

#biblink { /* link in footnotes to bibliography.html */
    display: block;
    text-align: center;
    color: var(--blue);
}

/* bibliography */

.bib {
    padding: 0;
    font-size: 0.9em;
}

.bib li {
    text-align: left;
    list-style-type: none;
    text-indent: -2em;
    margin-left: 2em;
    margin-bottom: 0.2em;
}

.bib li span { /* author names */
    font-variant: small-caps;
    text-transform: lowercase;
}

.bib-note { /* p in .bib */
    width: 80%;
    margin: 0.5em auto 1em auto;
}

/* JavaScript elements */

#wordcount {
    margin-top: 4em;
    text-align: center;
    color: var(--lightgrey);
}

#moving-header {
    display: none;
}
