body {
    width: 66ch;
    margin: 1% auto 1% auto;
    font-family: 'Arno Pro', adobe-garamond-pro, serif;
    font-weight: 400;
    font-feature-settings: 'onum';
}

p,
blockquote p {
    margin-bottom: 0;
    position: relative;
    font-size: 1.2em;
    line-height: 1.3em;
    text-align: justify;
}
p + p { text-indent: 1em; margin-top: 0; }
blockquote { margin: 0px 40px; }
strong { font-weight: 600; }
a { text-decoration: none; color: var(--cblue); }
a:hover { text-decoration: underline; }
sup {
    color: black;
    font-size: 0.7em;
    font-feature-settings: 'nnum';
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

/* Epigraphs */
blockquote.epigraph {
    width: 75%;
    padding-left: 17%;
    font-size: 1em;
    margin-top: 2.5em;
    text-align: right;
    font-style: italic;
}
blockquote.epigraph footer {
    margin-top: 0.6em;
    font-style: normal;
    font-size: 0.9em;
}

/* Headers */
h2, h3 { text-align: center; }
h2 {
    font-size: 1.9em;
    padding-top: 10px;
    margin-bottom: -0.34em;
    font-weight: 400;
}
h3 {
    margin-top: 2em;
    margin-bottom: 5px;
    font-weight: 400;
    font-variant: small-caps;
    font-size: 1.4em;
    text-transform: lowercase;
}

.footnotes {
    /* display: none; /1* FIXME *1/ */
    margin-top: 2em;
    border-top: 1px solid #ccc;
}
.footnotes hr {
    display: none;
}
.footnotes li,
.footnotes p {
    font-size: 0.95em;
    line-height: 1.3em;
    margin: 0;
}

#nav,
.footnote-back {
    display: none;
}
