@font-face { font-family: 'ap'; src: url('fonts/regular.otf') format('opentype'); }
@font-face { font-family: 'ap'; font-weight: bold; src: url('fonts/bold.otf') format('opentype'); }
@font-face { font-family: 'ap'; font-style: italic; src: url('fonts/italic.otf') format('opentype'); }
@font-face { font-family: 'ap'; font-weight: bold; font-style: italic; src: url('fonts/bolditalic.otf') format('opentype'); }

html {
    --pale: #faf9f5;
    --cblue: #515c94;
    --cred: #a14a3f;
    --ctext: #1a0f00;
}

html#dark {
    --pale: #282828;
    --cblue: #83a598;
    --cred: #fabd2f;
    --ctext: #d5c4a1;
}

body {
    width: 50%;
    margin: 1% auto 1% auto;
    padding: 20px 40px;
    font-family: 'Arno Pro', 'ap', adobe-garamond-pro, serif;
    font-weight: 400;
    font-feature-settings: 'onum';
    counter-reset: section;
    color: var(--ctext);
    background: var(--pale);
}

/* Main Text: --------------------------------------------------- */
p,
blockquote p {
    margin-bottom: 0;
    position: relative;
    font-size: 1.2em;
    line-height: 1.3em;
    text-align: justify;
}
p + p { text-indent: 1em; margin-top: 0; }
blockquote { margin: 0px 40px; }
strong { font-weight: 600; }
a { text-decoration: none; color: var(--cblue); }
a:hover { text-decoration: underline; }
sup {
    color: var(--ctext);
    font-size: 0.7em;
    font-feature-settings: 'nnum';
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
::selection {
    background: rgba(161, 74, 63, 0.2);
}

/* Epigraphs */
blockquote.epigraph {
    width: 75%;
    padding-left: 17%;
    font-size: 1em;
    margin-top: 2.5em;
    text-align: right;
    font-style: italic;
}
blockquote.epigraph footer {
    margin-top: 0.6em;
    font-style: normal;
    font-size: 0.9em;
}

/* Headers */
h2, h3 { text-align: center; color: var(--cred); }
h2 {
    font-family: adobe-garamond-pro, sans-serif;
    font-size: 1.9em;
    padding-top: 10px;
    margin-bottom: -0.34em;
    font-weight: 400;
}
h3 {
    margin-top: 2em;
    margin-bottom: 5px;
    font-weight: 400;
    font-variant: small-caps;
    font-size: 1.4em;
    text-transform: lowercase;
}
h4:not(#author):not(.subtitle) {
    width: 20%;
    float: left;
    clear: left;
    margin-left: -25%;
    font-weight: normal;
    font-size: 0.9em;
    text-align: right;
}

hr {
    width: 25em;
    margin-top: 2em;
    border: none;
    border-top: 1px solid rgba(20, 20, 20, 0.2);
}

.content { max-width: 66ch; margin: 0 auto; }
/* Paragraph numbering: */
.content>p:not(#nav)::before {
    counter-increment: section;
    content: '' counter(section) '';
    font-size: .8em;
    line-height: 1.1em;
    color: var(--ctext);
    opacity: 0.6;
    white-space: nowrap;
    clear: right;
    float: right;
    margin-right: -10%;

}

.footnotes {
    border-top: 1px solid rgba(20, 20, 20, 0.2);
    width: 150%;
    margin: 50px -25%;
}

.footnotes hr {
    display: none;
}

.footnotes ol {
    column-count: 2;
    column-gap: 3em;
}

.footnotes li,
.footnotes p {
    break-inside: avoid-column;
    page-break-inside: avoid; /* for firefox */
    font-size: 0.95em;
    line-height: 1.3em;
    margin: 0;
}

.footnotes a {
    color: #eee;
}

.footnotes a:hover {
    color: var(--cblue);
}

/* See script.js */
#hover-note {
    opacity: 0;
    position: fixed;
    padding: 0.6em;
    background: var(--cred);
    color: var(--pale);
    max-width: 33ch;
    transition: 0.2s all;
}
#hover-note p {
    font-size: 0.95em;
    margin: 0;
}

.subtitle {
    margin: -0.5em 0 10 0;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.sc { /* small caps */
    text-transform: lowercase;
    font-variant: small-caps;
}

img {
    display: block;
    width: 60%;
    margin: 30px auto 40px auto;
}

img#title {
    opacity: 0.8;
}

#author {
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: 400;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: var(--ctext);
    opacity: 0.6;
}

#nav {
    text-indent: 0;
    margin-top: 3em;
    text-transform: lowercase;
    font-variant: small-caps;
    text-align: center;
}
#nav a {
    text-decoration: underline;
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
}
#nav a:hover { color: var(--cred); }

/* Contents: ---------------------------------------------------- */
#contents {
    width: 50%;
    padding-left: 2.4rem;
    font-size: 1rem;
    margin: 0 auto;
    margin-bottom: 4em;
    white-space: nowrap;
    counter-reset: toc;
}
#contents ol { padding-left: 0; counter-reset: toc; }
#contents li { list-style-type: none; display: block; margin-top: 0 }
#contents > li { margin-top: 1em; }
/* Decimal numbering */
#contents li::before {
    position: absolute;
    width: 2.4rem;
    transform: translate(-3.2rem);
    text-align: right;
    content: counters(toc, '.') ' ';
    counter-increment: toc;
}
#contents a {
    line-height: 1.375em;
    text-decoration: none;
    border-bottom: 1px solid rgba(153, 153, 153, 0.4);
}
#contents a:hover { border-bottom: 1px solid rgba(153, 153, 153, 1); }

/* JavaaScript elements: ---------------------------------------- */
#wordcount { text-align: center; color: #ccc; margin-top: 4em; }

#to-top { position: fixed; top: 10; left: 10; color: rgba(0, 0, 0, 0.4); font-size: 32px; }
#to-top:hover { text-decoration: none; color: rgba(0, 0, 0, 1); cursor: pointer; }
#to-top:hover::after {
    content: 'Back to contents';
    display: block;
    margin-top: -0.3em;;
    padding: 0 10px;
    font-size: 0.6em;
    text-transform: lowercase;
    font-variant: small-caps;
    background: rgba(0, 0, 0, 0.1);
}

/* Responsive Design: ------------------------------------------- */
@media (max-width: 700px) {
    body { width: 80%; }
    h4:not(#author):not(.subtitle) {
        float: none;
        clear: none;
        width: 50%;
        position: static;
        margin: 1em auto 0.6em auto;
        font-size: 1.1em;
        text-decoration: none;
        border-bottom: 1px solid rgba(20, 20, 20, 0.4);
        text-align: center;
    }
    .footnotes { width: 100%; margin: 50px 0; }
    .footnotes ol { column-count: 1; }
}
