/*html {
    background: #f2ece8;
}*/

body {
    width: 50%;
    margin: 1% auto 1% auto;
    padding: 20px 40px;

    /*background: white;
    border: 1px solid #d8d8d8;*/

    font-family: Garamond, 'EB Garamond', serif;
    font-weight: 300;
    counter-reset: section;
}

p {
    font-size: 1.1em;
    line-height: 1.3em;
    margin: 0 0 10px;
    position: relative;
}

.content>p:before {
    counter-increment: section;
    content: "" counter(section) "";
    font-size: .8em;
    line-height: 1.1em;
    color: #ccc;

    white-space: nowrap;
    position: absolute;
    left: 105%;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    display: block;
    width: 80%;
    margin: 0 auto 40px auto;

    font-family: Optima;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
}

h2 {
    font-family: Optima;
    font-size: 1.8em;
    padding-top: 10px;
    font-weight: 300;
}

h3 {
    margin-bottom: 5px;
    font-weight: 300;
    font-variant: small-caps;
    font-size: 1.3em;
    text-transform: lowercase;
}

h4 {
    font-size: 1.1em;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #515c94;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    margin: 10px 40px;
}

blockquote p {
    font-size: 1.1em;
    line-height: normal;
    text-align: justify;
}

sup {
    color: black;
    font-size: 0.7em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

hr {
    border: none;
    border-top: 1px solid #eee;
}

.footnotes {
    border-top: 1px solid #eee;
    /* width: 90%; */
    margin: 20px auto;
}

.footnotes hr {
    display: none;
}

.footnotes ol {
    column-count: 2;
    column-gap: 10%;
}

.footnotes li,
.footnotes p {
    break-inside: avoid-column;
    font-size: 1em;
    line-height: 21px;
    margin: 0;
}

.footnotes a {
    color: #eee;
}

.footnotes a:hover {
    color: #515c94;
}

.subtitle {
    margin: -0.5em 0 10 0;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
}

#author {
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #888;
}

#contents {
    width: 50%;
    margin: 0 auto;
    padding-left: 28px;
}

#contents li {
    list-style-type: upper-roman;
}

#contents li li {
    list-style-type: lower-roman;
}

#contents li li li {
    list-style-type: lower-greek;
}

#contents a {
    text-decoration: none;
    color: black;
}

#contents a:hover {
    background: #eee;
}

#wordcount {
    text-align: center;
    color: #ccc;
    margin-top: 4em;
}

#to-top {
    position: fixed;
    top: 10;
    left: 10;
    color: rgba(0, 0, 0, 0.4);
    font-size: 24px;
}

#to-top:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

@media (max-width: 1000px) {
    body {
        width: 80%;
    }
}
