body {
    width: 50%;
    margin: 1% auto 1% auto;
    padding: 20px 40px;

    font-family: 'Arno Pro', adobe-garamond-pro, serif;
    font-weight: 400;
    counter-reset: section;

    color: #111;
}

body.dark {
    color: #f1edea;
    background: #20190e;
}

p {
    margin-bottom: 0;
    position: relative;

    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;
}

p + p {
    text-indent: 1em;
    margin-top: 0;
}

strong {
    font-weight: 600;
}

.content {
    width: 33em;
    margin: 0 auto;
}

.content>p:before {
    counter-increment: section;
    content: "" counter(section) "";
    font-size: .8em;
    line-height: 1.1em;
    color: #ccc;

    white-space: nowrap;
    clear: right;
    float: right;
    margin-right: -10%;

}

h2, h3 {
    text-align: center;
}

/* h1 { */
/*     display: block; */
/*     margin: 0 auto 40px auto; */

/*     text-align: center; */
/*     font-weight: 400; */
/*     font-size: 3.3em; */
/*     font-style: italic; */
/* } */

img#title {
    display: block;
    width: 60%;
    margin: 30px auto 40px auto;
}

.dark img#title {
    filter: invert(1);
}

h2 {
    font-family: 'Optima', sans-serif;
    font-size: 1.8em;
    padding-top: 10px;
    margin-bottom: -0.34em;
    font-weight: 400;
}

h3 {
    margin-top: 2em;
    margin-bottom: 5px;
    font-weight: 400;
    font-variant: small-caps;
    font-size: 1.3em;
    text-transform: lowercase;
}

h4:not(#author):not(.subtitle) {
    width: 20%;
    float: left;
    clear: left;
    margin-left: -25%;

    font-weight: normal;
    font-size: 0.9em;
    text-align: right;
}

a {
    text-decoration: none;
    color: #515c94;
}

.dark a {
    color: #a6cade;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    margin: 10px 40px;
}

blockquote p {
    font-size: 1.1em;
    line-height: normal;
}

sup {
    color: black;
    font-size: 0.7em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

.dark sup {
    color: #f1edea;
}

.footnotes {
    border-top: 1px solid rgba(20, 20, 20, 0.2);
    width: 150%;
    margin: 50px -25%;
}

.dark .footnotes {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footnotes hr {
    display: none;
}

.footnotes ol {
    column-count: 2;
    column-gap: 5%;
}

.footnotes li,
.footnotes p {
    break-inside: avoid-column;
    font-size: 0.95em;
    line-height: 1.3em;
    margin: 0;
}

.footnotes a {
    color: #eee;
}

.footnotes a:hover {
    color: #515c94;
}

.dark .footnotes a {
    color: rgba(255, 255, 255, 0.2);
}

.dark .footnotes a:hover {
    color: white;
}

.subtitle {
    margin: -0.5em 0 10 0;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.sc { /* small caps */
    text-transform: lowercase;
    font-variant: small-caps;
}

#author {
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: 400;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.6);
}

.dark #author {
    color: rgba(255, 255, 255, 0.6);
}

#contents {
    width: 50%;
    margin: 0 auto;
    padding-left: 28px;
}

#contents li {
    list-style-type: upper-roman;
}

#contents li li {
    list-style-type: lower-roman;
}

#contents li li li {
    list-style-type: lower-greek;
}

#contents a {
    text-decoration: none;
    color: black;
}

.dark #contents a {
    color: #a6cade;
}

#contents a:hover {
    background: rgba(3, 1, 1, 0.1);
}

.dark #contents a:hover {
    background: rgba(255, 255, 255, 0.3);
    color: yellow;
}

#wordcount {
    text-align: center;
    color: #ccc;
    margin-top: 4em;
}

#to-top,
#lightswitch {
    position: fixed;
    top: 10;
    left: 10;
    color: rgba(0, 0, 0, 0.4);
    font-size: 24px;
}

#to-top:hover,
#lightswitch:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.dark #to-top,
.dark #lightswitch {
    color: rgba(255, 255, 255, 0.4)
}

.dark #to-top:hover,
.dark #lightswitch:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

#lightswitch {
    left: 40;
}

@media (max-width: 1100px) {
    body {
        width: 80%;
    }

    .content {
        width: 80%;
    }

    h4:not(#author):not(.subtitle) {
        float: none;
        clear: none;

        width: 50%;
        position: static;
        margin: 1em auto 0.6em auto;
        font-size: 1.1em;
        text-decoration: none;
        border-bottom: 1px solid rgba(20, 20, 20, 0.4);
        text-align: center;
    }

    .footnotes {
        width: 100%;
        margin: 50px 0;
    }
}
