@font-face { font-family: 'ap'; src: url('fonts/regular.otf') format('opentype'); }
@font-face { font-family: 'ap'; font-weight: bold; src: url('fonts/bold.otf') format('opentype'); }
@font-face { font-family: 'ap'; font-style: italic; src: url('fonts/italic.otf') format('opentype'); }
@font-face { font-family: 'ap'; font-weight: bold; font-style: italic; src: url('fonts/bolditalic.otf') format('opentype'); }

html {
    --pale: #fdfdfc;
    --cblue: #515c94;
    --cred: #a14a3f;
    --ctext: #1a0f00;
}

html#dark {
    --pale: #282828;
    --cblue: #83a598;
    --cred: #fabd2f;
    --ctext: #d5c4a1;
}

body {
    width: 50%;
    margin: 1% auto 1% auto;
    padding: 20px 40px;
    font-family: 'Arno Pro', 'ap', adobe-garamond-pro, serif;
    font-weight: 400;
    font-feature-settings: 'onum';
    counter-reset: section;
    color: var(--ctext);
    background: var(--pale);
}

/* Main Text: --------------------------------------------------- */
.content { max-width: 60ch; margin: 0 auto; }
p,
blockquote p {
    margin-bottom: 0;
    position: relative;
    font-size: 1.15em;
    line-height: 1.3em;
    text-align: justify;
}
p + p { text-indent: 1em; margin-top: 0; }
blockquote { margin: 0px 40px; }
strong { font-weight: 600; }
a { text-decoration: none; color: var(--cblue); }
a:hover { text-decoration: underline; }
sup {
    color: var(--ctext);
    font-size: 0.7em;
    font-feature-settings: 'nnum';
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
::selection {
    background: #e7eff6;
}

/* Epigraphs, etc. */
.epigraph {
    width: 75%;
    padding-left: 17%;
    font-size: 1em;
    margin-top: 2.5em;
    text-align: justify;
}
.epigraph.short {
    text-align: right;
}
.epigraph footer {
    margin-top: 0.6em;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    text-align: right;
}
/* This part is for the actual source, i.e., not the author's name */
.epigraph footer em {
    font-variant: normal;
    text-transform: none;
    letter-spacing: normal;
}

/* Headers */
h2, h3 { text-align: center; }
h2 {
    font-family: adobe-garamond-pro, sans-serif;
    font-size: 1.9em;
    padding-top: 10px;
    margin-bottom: -0.34em;
    font-weight: 400;
    color: var(--cred);
}
h3 {
    margin-top: 2em;
    margin-bottom: 5px;
    font-weight: 400;
    font-variant: small-caps;
    font-size: 1.3em;
    text-transform: lowercase;
}

h4:not(#author):not(.subtitle) {
    float: none;
    clear: none;
    width: 50%;
    position: static;
    margin: 2em 2em 0;
    font-style: italic;
    font-weight: 600;
    text-align: left;
}
h4:not(#author):not(.subtitle)::before {
    content: '• ';
    font-feature-settings: 'ornm' 14;
}

hr {
    width: 25em;
    margin-top: 2em;
    border: none;
    border-top: 1px solid rgba(20, 20, 20, 0.2);
}

/* Paragraph numbering: */
.content>p:not(#nav)::before {
    counter-increment: section;
    content: '' counter(section) '';
    font-size: .8em;
    line-height: 1.1em;
    color: var(--ctext);
    opacity: 0.6;
    white-space: nowrap;
    clear: right;
    float: right;
    margin-right: -10%;
}

.footnotes {
    border-top: 1px solid rgba(20, 20, 20, 0.2);
    width: 150%;
    margin: 50px -25%;
}
.footnotes hr {
    display: none;
}
.footnotes ol {
    column-count: 2;
    column-gap: 3em;
}
.footnotes li,
.footnotes p {
    break-inside: avoid-column;
    page-break-inside: avoid; /* for firefox */
    font-size: 0.95em;
    line-height: 1.3em;
    margin: 0;
}
.footnotes li:target { /* Selected footnote */
    font-weight: bold;
    text-decoration: underline;
}
.footnotes a {
    color: #eee;
}
.footnotes a:hover {
    color: var(--cblue);
}
#cite-note {
    width: 60%;
    margin: 2em auto;
    padding-top: 1em;
    border-top: 1px solid rgba(20, 20, 20, 0.2);
    font-size: 0.95em;
}

/* See script.js */
#hover-note {
    opacity: 0;
    position: fixed;
    padding: 0.6em;
    background: rgba(0, 0, 0, 0.8);
    color: var(--pale);
    max-width: 33ch;
}
#hover-note p {
    font-size: 0.95em;
    margin: 0;
}

.subtitle {
    margin: -0.25em 0 0.25em 0;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.sc { /* small caps */
    text-transform: lowercase;
    font-variant: small-caps;
}

img#title {
    display: block;
    margin: 30px auto 40px auto;
    width: 55%;
    opacity: 0.9;
}

#author {
    text-align: center;
    margin: 0;
    font-weight: 400;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    color: var(--ctext);
    opacity: 0.6;
}

#nav {
    text-indent: 0;
    margin-top: 3em;
    text-transform: lowercase;
    font-variant: small-caps;
    text-align: center;
}
#nav a {
    text-decoration: underline;
    display: block;
    color: rgba(0, 0, 0, 0.6);
}
#nav a:hover { color: var(--cred); }

/* Contents: ---------------------------------------------------- */
#contents {
    width: 50%;
    padding-left: 2.4rem;
    font-size: 1rem;
    margin: 2em auto;
    margin-bottom: 4em;
    white-space: nowrap;
    counter-reset: toc;
}
#contents ol { padding-left: 0; counter-reset: toc; }
#contents li { list-style-type: none; display: block; margin-top: 0 }
#contents li li li a { margin-left: 1em; }
#contents > li { margin-top: 1em; }
/* Decimal numbering */
#contents li::before {
    position: absolute;
    width: 2.4rem;
    transform: translate(-3.2rem);
    text-align: right;
    content: counters(toc, '.') ' ';
    counter-increment: toc;
    color: var(--ctext);
    opacity: 0.2;
}
#contents li:hover::before {
    opacity: 1;
}
#contents a {
    line-height: 1.375em;
    text-decoration: none;
}
#contents a:hover { border-bottom: 1px solid rgba(153, 153, 153, 1); }
/* A button to skip past the long contents section */
#show-contents {
    display: block;
    color: var(--ctext);
    opacity: 0.3;
    text-align: center;
    text-transform: lowercase;
    font-variant: small-caps;
    margin: 0;
    cursor: pointer;
    text-decoration: underline;
}
#show-contents:hover { opacity: 0.6; }

/* Bibliography: ------------------------------------------------ */
.bib {
    padding: 0;
    text-align: justify;
}
.bib li {
    list-style-type: square;
    margin-bottom: 0.5em;
}

/* JavaScript elements: ----------------------------------------- */
#wordcount { text-align: center; color: #ccc; margin-top: 4em; }

/* Responsive Design: ------------------------------------------- */
@media (orientation: portrait) {
    body { width: 80%; }
    .footnotes { width: 100%; margin: 50px 0; }
    .footnotes ol { column-count: 1; }
}
